
:root {

    // --bg-Color: hsl(216, 65%, 11%);
    // --bg-Color-Light:hsl(218, 58%, 16%);
    // --bg-Color-Blur: hsla(216, 65%, 11%, 0.851);
    // --highlight-Color: hsl(166, 100%, 70%);
    // --text-Color-Dark: hsl(220, 21%, 36%);
    // --text-Color: hsl(225, 20%, 61%);
    // --text-Color-Light: hsl(225, 31%, 74%);
    // --text-Color-Lightest: hsl(226, 70%, 88%);

    --bg-Color: hsl(224.8deg 39.54% 13.92%);
    --bg-Color-Blur: hsl(235.38deg 22.21% 22.34%);
    --bg-Color-Light: #8f88ac;
    --highlight-Color: #c4b9f0;
    --text-Color-Dark: hsl(303.29deg 20.86% 83.42%);
    --text-Color: hsl(321 14% 121% / 1);
    --text-Color-Light: hsl(99, 31%, 74%);
    --text-Color-Lightest: hsl(321 14% 121% / 1);

    // --bg-Color: hsl(0, 0%, 100%);
    // --bg-Color-Light:hsl(0, 0%, 100%);
    // --bg-Color-Blur: hsla(0, 0%, 100%, 0.851);
    // --highlight-Color: hsl(212, 81%, 63%);
    // --text-Color-Dark: hsl(220, 4%, 15%);
    // --text-Color: hsl(224, 18%, 24%);
    // --text-Color-Light: hsl(230, 3%, 42%);
    // --text-Color-Lightest: hsl(228, 2%, 59%);

}

@import "variables";
@import "font";
@import "breakpoint";
@import "base";
@import "common";
@import "colorAdjust";
@import "responsive";